body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

.temple_hide {

    color: #fff;
    
}
   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d3fd3;
    padding: 15px;
    color: white;
}

nav ul {
    display: flex; /* Ocultar menú en mobile */
    
    list-style: none;
    padding: 0;
    background-color: #5d3fd3;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #3a2c87;
    display: block;
}

#menu-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Galería de imágenes */
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
}

figure {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

figure img {
    width: 100%;
    border-radius: 8px;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #5d3fd3;
    color: white;
    padding: 15px;
}
